<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Menu</ion-list-header>
    

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" href="/selling" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start"></ion-icon>
              <ion-label>selling</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
